/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.color-discord{
    color: #628bf7;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}
.text-fix{
    font-size: 30px;
    padding-top: 40px;
    line-height: 40px;
}
/* Regole dell'header */

header{
    background-image: url(../img/jumbo.png);
    width: 100%;
    background-size: cover;
    height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#header-nav{
    /* background-color: #ADD8E6; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
#nav{
    /* background-color: #DAA520; */
    width: 70%;
    line-height: 50px;
    display: flex;
    border: 1px dashed black;
    justify-content: space-between;
    height: 50px;
}
#logo{
    width: 10%;
    border: 1px dashed black;
    padding-left: 5px;
}
#nav div{
    width: 80%;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
}
#nav ul{
    display: flex;
    gap: 60px;
    font-size: 20px;
}
ul li{
    /* padding: 0 5px; */

    
}

li a{
    color: rgb(255, 255, 255);
    
}

.button-form{
    text-align: center;
    border-radius: 40px;
    border: 1px dashed black;
    background-color: white;
    color: black;
    width: auto;
    padding: 0 15px;
    font-size: 18px;
}


#header-sub-nav{
    /* background-color: darkblue; */
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-sub-nav div{
    /* background-color: #EE82EE; */
    width: 45%;
    min-height: 250px;
    border: 1px dashed black;
    text-align: center;
    color: white;
    font-size: 30px;
}
h1{
    font-size: 80px;
    padding-top: 110px;
    padding-bottom: 60px;
}

#header-sub-button{
    /* background-color: darkblue; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#button-header{
    /* height: 100px;
    width: 30%; */

    /* border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center; */
    width: 45%;
    border: 1px dashed black;
    color: white;
    line-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 80px;
    
}

    
.xxx{
    font-size: 30px;
    padding: 0 40px;
}

#negative{
    color: white;
    background-color: rgb(37, 37, 37);
}







a i{
    color: black;
    font-size: 22px;
}





/* Regole del main */
.section-main{
    background-color: rgb(255, 255, 255);
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}
.big-blue{
    /* background-color: #1E90FF; */
    height: 550px;
    width: 40%;
    border: 1px dashed black;
    /* display: flex;
    justify-content: start; */
    /* padding-left: 50px; */
    padding-bottom: 50px;
}

.big-blue img{
    height: 120%;
}
.little-pink{
    /* background-color: #FDBEC3; */
    min-height: 400px;
    width: 21%;
    border: 1px dashed black;
    font-size: 48px;
    padding-top: 80px;
}




.section-main-cnt{
    background-color: #D3D3D3;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}
.section-main-down{
    background-color: #D3D3D3;
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    padding-top: 200px;
}


.stars-zone{
    /* background-color: #228B22; */
    height: 1550px;
    width: 70%;
    border: 1px dashed black;
}
#image-big{
    width: 100%;
    
}
.container {
    position: relative;
    text-align: center;
    height: 600px;
    width: 70%;
}
#text-stars{
    font-size: 44px;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stars{
    width: 48%;
    /* position: absolute; */
}

.lol{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#got{
    width: 100%;
    border: 1px dashed black;
    line-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

#got a{
    width: 360px;
    background-color: #628bf7;
    color: white;
}
#arrow{
    color: white;
    font-size: 22px;

}





/* Regole del footer */
.section-footer-up{
    background-color: rgb(35, 39, 42);
    height: 450px;
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    padding-top: 50px;
    flex-basis: auto;
}
#footer-section{
    /* background-color: aliceblue; */
    width: 65%;
    min-height: 320px;
    display: flex;
}
#footer-pink{
    /* background-color: #F08080; */
    width: 32%;
    border: 1px dashed black;
    color: white;
}

i{
    color: white;
}
.footer-blue{
    /* background-color: #20B2AA; */
    width: 17%;
    border: 1px dashed white;
    display: flex;
    flex-direction: column;
}

.footer-blue a{
    color: white;
}
a.color-discord{
    color: #628bf7;
}
.section-footer-down{
    background-color: rgb(37, 37, 37);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: end;
}
#footer-down{
    background-color:#7CF2D5;
    width: 65%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-down a{
    color: black;
    background-color: pink;
    border: 1px dashed black;
    padding: 0 5px;
}