/* Regole Generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.color-discord{
    color: #7289da;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}
.text-fix{
    font-size: 30px;
    padding-top: 40px;
    line-height: 40px;
}
.onde{
    width: 100%;
    margin: -10px 0;
}
.onde-rotate{
    transform: rotate(180deg);
}
/* Regole dell'header */
header{
    background-image: url(../img/jumbo.png);
    width: 100%;
    background-size: cover;
    height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8%;
}
#header-nav{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}
#nav{
    width: 70%;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
#logo{
    width: 10%;
    padding-left: 5px;
}
#nav ul{
    display: flex;
    gap: 60px;
    font-size: 20px;
}
li a{
    color: rgb(255, 255, 255);
}
.button-form{
    border-radius: 40px;
    background-color: white;
    color: black;
    padding: 0 15px;
    font-size: 18px;
}
#header-sub-nav{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-sub-nav div{
    width: 45%;
    text-align: center;
    color: white;
    font-size: 30px;
}
h1{
    font-size: 80px;
    padding-top: 110px;
    padding-bottom: 60px;
}
#header-sub-button{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-header{
    line-height: 80px;
    display: flex;
    gap: 30px;
}
.big-button{
    font-size: 30px;
    padding: 0 40px;
}
#negative{
    color: white;
    background-color: rgb(37, 37, 37);
}
a i{
    font-size: 22px;
}
/* Regole del main */
.section-main{
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}
.big-blue{
    height: 550px;
    width: 40%;
    padding-bottom: 50px;
}

.big-blue img{
    height: 130%;
}
.little-pink{
    width: 21%;
    font-size: 48px;
    padding-top: 80px;
}
.section-main-cnt{
    background-color: #f6f6f6;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}
.section-main-down{
    background-color: #f6f6f6;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 48px;
    padding-top: 200px;
}
.stars-zone{
    height: 1550px;
    width: 70%;
}
#image-big{
    width: 100%;
}
.container {
    position: relative;
    height: 600px;
    width: 70%;
}
#text-stars{
    font-size: 44px;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#stars{
    width: 48%;
}
#download-mac{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#download{
    line-height: 80px;
    display: flex;
}
#download a{
    width: 360px;
    background-color: #8ea1e1;
    color: white;
}
#arrow{
    color: white;
    font-size: 22px;
}
/* Regole del footer */
.section-footer-up{
    background-color: rgb(35, 39, 42);
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 150px;
}
#footer-section{
    width: 65%;
    display: flex;
}
#footer-pink{
    width: 32%;
    color: white;
}
h3{
    font-size: 48px;
    width: 70%;
    padding-bottom: 30px;
}
#language{
    display: flex;
    gap: 5px;
}
#footer-pink img{
    height: 24px;
}
#footer-pink span{
    font-size: 20px;
}
#logos{
    display: flex;
    gap: 40px;
    padding-top: 30px;
}
#logos i{
    font-size: 26px;
}
.footer-blue{
    width: 17%;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 50px;
}
.footer-blue a{
    color: white;
}
a.color-discord{
    color: #8ea1e1;
}
.section-footer-down{
    background-color: rgb(37, 39, 42);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}
#footer-down{
    width: 65%;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #8ea1e1;
}
#footer-down a{
    color: rgb(255, 255, 255);
    margin-top: 50px;
}
#footer-down a img{
    height: 50px;
}
#gots{
    line-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 8%;
    background-color: #8ea1e1;
    font-size: 22px;
}